<div *ngIf="clinic; else loading" class="p-6">
  <div class="mt-8">
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-yellow-50 p-4 rounded-lg shadow-sm">
        <h4 class="font-semibold text-orange-600">Clinic Name</h4>
        <p class="mt-1 text-gray-700">{{ clinic.name }}</p>
      </div>
      <div class="bg-yellow-50 p-4 rounded-lg shadow-sm">
        <h4 class="font-semibold text-orange-600">Rate</h4>
        <p class="mt-1 text-gray-700">{{ clinic.rate }}</p>
      </div>
      <div class="bg-yellow-50 p-4 rounded-lg shadow-sm">
        <h4 class="font-semibold text-orange-600">Bank Account</h4>
        <p class="mt-1 text-gray-700">{{ clinic.bankAccount}}</p>
      </div>
      <div class="center">
        <button class="update-button px-4 py-2 bg-blue-600 text-white rounded-md" (click)="openEditDialog()">Update Profile</button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>
