<!-- Main Content -->
<div class="justify-center bg-gray-100 mainDiv">
    <div *ngFor="let item of reservationClinic" class="flex items-center w-full">
      <!-- Form -->
      <div class="bg-[#FFFBF1] p-8 rounded-lg shadow-md w-5/12 relative left-72 top-10  mb-5">
        <div>
          <div class="mb-4">
            <label class="block text-gray-700">Pet Name:</label>
            {{item.petName}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-700">Clinic Name:</label>
            {{item.clinicName}}
          </div>
          <div class="mb-4 justify-center">
            <label class="block text-gray-700">Date:</label>
            {{item.date}}           
          </div>
          <div class="mb-4" *ngFor="let phone of item.clinicPhones" >
            <label class="block text-gray-700"  >Phone:</label>
            {{phone.phoneNumber}}
          </div>

          <div class="mb-4">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg" (click)="DeleteClinicReservation(item.petID,item.clinicID)">Delete</button>
          </div>

          </div>
        </div>
      </div>
    </div>

    <div class="justify-center bg-gray-100 mainDiv">
        <div *ngFor="let item of reservationVacc" class="flex items-center w-full">
          
         
          <div class="bg-[#FFFBF1] p-8 rounded-lg shadow-md w-5/12 relative left-72 top-10  mb-5">
            <div>
              <div class="mb-4">
                <label class="block text-gray-700">Pet Name:</label>
                <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.petName" readonly>
              </div>
              <div class="mb-4">
                <label class="block text-gray-700">Vaccine Name:</label>
                <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.vaccineName" readonly>
              </div>
              <div class="mb-4 justify-center">
                <label class="block text-gray-700">Date:</label>
                <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.date" readonly>
               
              </div>
              <div class="mb-4">
                <label class="block text-gray-700">clinic Name:</label>
                <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.clinicName" readonly>
              </div>
              <div class="mb-4" *ngFor="let phone of item.Phones" >
                <label class="block text-gray-700"  >Phone:</label>
                {{phone.phoneNumber}}
              </div>

              <div class="mb-4">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg" (click)="DeleteVaccReservation(item.petID,item.clinicID,item.vaccineID)">Delete</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
   
  
