<!-- Main Content -->
<div class="justify-center bg-gray-100 mainDiv">
    <div *ngFor="let item of userPetList" class="flex items-center w-full">
      <div class="top-60 ml-24">
        <img [src]="item.photo" alt="Pet Image" class="w-60">
      </div>
      <!-- Form -->
      <div class="bg-[#FFFBF1] p-8 rounded-lg shadow-md w-5/12 relative left-72 top-10  mb-5">
        <div>
          <div class="mb-4">
            <label class="block text-gray-700">Name:</label>
            <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.name" readonly>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700">Age:</label>
            <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.ageInMonth" readonly>
          </div>
          <div class="mb-4 justify-center">
            <label class="block text-gray-700">NoteBook:</label>
            <img [src]="item.idNoteBookImage" alt="id NoteBook Image" class="w-60">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700">Sex:</label>
            <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.sex" readonly>
          </div>
          <div class="mb-4">
            <label class="block text-gray-700">Type:</label>
            <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.type" readonly>
          </div>
          
            <label class="block text-gray-700 mr-5">Pair With:</label>
            <div class="mb-4 flex">
            <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.pairWith" readonly>
            <button  class="bg-[#FDBD68] hover:bg-[#ce7604] text-white font-bold w-20 ml-2 px-2 rounded-lg"
                        [disabled]="item.pairWith === 'I\'m not paired'" (click)="UnPair(item.petID)">Unpair</button>
            <!-- <button class="bg-[#FDBD68] hover:bg-[#ce7604] text-white font-bold w-20 ml-2  px-2 rounded-lg" (click)="UnPair(item.petID)">Unpair</button>   -->
            </div>
          <div class="mb-4">
            <label class="block text-gray-700">Other Information:</label>
            <input type="text" class="mt-1 block w-full bg-white border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-50" [value]="item.other" readonly>
          </div>
          <div class="flex justify-between">
            <div class="flex justify-center">
              <button class="bg-[#FDBD68] hover:bg-[#ce7604] text-white font-bold py-2 px-4 rounded-lg"  [disabled]="item.pairWith !== 'I\'m not paired'" (click)="toggleBreedingStatus(item)">
                {{ item.isReadyForBreeding ? 'Not Ready For Breeding' : 'Ready For Breeding' }}
              </button>
            </div>
            <div class="flex justify-center">
              <button class="bg-[#FDBD68] hover:bg-[#ce7604] text-white font-bold py-2 px-4 rounded-lg" (click)="navigateToEdit(item.petID)">Edit</button>
            </div>
            <div class="flex justify-center">
              <button class="bg-red-700 hover:bg-red-950 text-white font-bold py-2 px-4 rounded-lg" (click)="deletePet(item.petID)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ml-6 mt-10 mb-10 w-80">
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg" (click)="navigateToAdd()">+ Add New Pet</button>
    </div>
  </div>
  