<!DOCTYPE html>
<html>
<head>
  <!-- Add your head content here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    .table-container {
      max-width: 60%; /* Set the maximum width of the table */
      margin: 0 auto; /* Center the table */
      padding: 100px;
    }
  </style>
</head>
<body class="bg-gray-100 ">
  <div class="px-8 table-container"> <!-- Added padding to the container div -->
    <ng-container *ngIf="request.length > 0; else noRequestMessage">
      <table class="min-w-full divide-y divide-gray-200 mx-auto bg-gray-100"> <!-- Added margin auto and max-width classes here -->
        <thead class="bg-gray-100">
          <tr>
            <th scope="col" class="px-6 py-7 text-left font-aclonica text-2xl text-gray-800 tracking-wider">My Pet</th>
            <th scope="col" class="px-6 py-7 text-left font-aclonica text-2xl text-gray-800 tracking-wider">Pair Pet</th>
            <th scope="col" class="px-6 py-7 text-left font-aclonica text-2xl text-gray-800 tracking-wider">Owned By</th>
            <th scope="col" class="px-6 py-7 text-left font-aclonica text-2xl text-gray-800 tracking-wider">Remove</th>
          </tr>
        </thead>
        <tbody class="bg-gray-100 ">
          <tr *ngFor="let item of request; let i = index">
            <td class="px-6 py-4 whitespace-nowrap font-aclonica text-2xl text-gray-800">{{ item.senderPetName }}</td> <!-- Increased font size here -->
            <td class="px-6 py-4 whitespace-nowrap text-orange-500 font-aclonica text-2xl">{{ item.receiverPetName }}</td> <!-- Increased font size here -->
            <td class="px-6 py-4 whitespace-nowrap font-aclonica text-2xl text-gray-800">{{ item.ownerreceiverName }}</td> <!-- Increased font size here -->
            <td class="px-6 py-4 whitespace-nowrap">
              <button class="text-red-600 hover:text-red-900 font-bold" (click)="removeRequest(item.petIDSender,item.petIDReceiver)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-template #noRequestMessage>
      <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white shadow-md rounded-lg p-6">
          <p class="text-center font-aclonica text-2xl text-gray-800">You did not send a request to any pet</p>
        </div>
      </div>
    </ng-template>
  </div>
</body>
</html>
