<div class="min-h-screen bg-gray-100 p-8 all" (click)="hideSuggestions()">
    <div class="container mx-auto">
      <div class="flex justify-between items-center mb-8">
        <div class="relative flex items-center" (click)="$event.stopPropagation()">
          <!-- breed-search.component.html -->
  
          <div class="relative flex items-center">
            <input
              type="text"
              placeholder="Search..."
              class="w-full pl-4 pr-10 py-2 border rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-yellow-500"
              [(ngModel)]="searchQuery"
              (ngModelChange)="onInputChange()"
            />
            <button
              class="absolute right-2 top-2 text-yellow-500"
              (click)="searchBar()"
            >
              <!-- Magnifying glass icon -->
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 15l5-5m0 0l-5-5m5 5H4"
                ></path>
              </svg>
            </button>
            <ul
              class="absolute z-10 top-full left-0 right-0 bg-white border border-gray-300 rounded-b-md shadow-md"
              *ngIf="VaccineSuggestions.length > 0"
            >
              <li
                *ngFor="let suggestion of VaccineSuggestions"
                class="py-2 px-4 cursor-pointer hover:bg-gray-100"
                (click)="selectBreed(suggestion)"
              >
                {{ suggestion }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Rest of your content -->
      <div *ngIf="!noResults; else NoBreed">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
          <div
            *ngFor="let Vaccine of vaccine"
            class="bg-[#FFF4E0] rounded-lg shadow-md p-6 flex flex-col justify-between items-center w-full h-auto"
          >
            <div class="flex flex-col items-center">
              <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">{{Vaccine.name}}</h1>
              <h3 class="text-xl text-gray-600 mb-6 text-center">{{Vaccine.description}}</h3>
            </div>
            <button
              class="bg-[#F9D5A7] text-black px-6 py-2 mt-4 rounded-full hover:bg-[#e9c394] transition duration-300 ease-in-out"
              (click)="GoToClinic(Vaccine.vaccineID)"
              >
              Choose Clinic
            </button>
          </div> 
        </div>        
            
      </div>
      <ng-template #NoBreed>
        <div class="bg-[#FFF4E0] rounded-lg shadow-md p-6 flex flex-col items-center w-full h-auto">
          <h2 class="text-2xl font-bold text-gray-800 mb-2">This Vaccine does not exist </h2>
        </div>
    