<div class="main m-auto mt-3 w-1/2 bg-orange-100 rounded-md flex flex-col items-center justify-center shadow-2xl">
    <div class="m-24">
        <h1 class="tracking-wide font-medium text-2xl mb-3 text-slate-600">SignUp To PetBook</h1>
        <p class="text-slate-400 mb-3">Welcome to our website where you can find rare breeds and will be easy for you to find clinics.</p>
        
        <section class="my-9">
            <div class="relative">
                <app-input-section typeOfInput="text" LabelType="Name" (inputValueChange)="Pet.name=$event"></app-input-section>
            </div>   
            
            <div class="relative mt-8">
                <app-input-section typeOfInput="number" LabelType="Age In Month" (inputValueChange)="Pet.ageInMonth= + $event"></app-input-section>
            </div>   
            
            <div class="relative mt-8">
                <select class="p-2 w-[100%] border-b-2 border-gray-800 focus:outline-none transition duration-200 ease-in"
                        required
                        [(ngModel)]="Pet.sex"
                        onfocus="this.nextElementSibling.style.transform = 'translateY(-35px)'; 
                                this.nextElementSibling.style.fontSize = '20px'; 
                                this.nextElementSibling.style.color = '#fb923c';
                                this.style.borderColor = '#fb923c';"
                        onblur="if(this.value==='') 
                                { 
                                    this.nextElementSibling.style.transform = ''; 
                                    this.nextElementSibling.style.fontSize = ''; 
                                    this.nextElementSibling.style.color = ''; 
                                    this.style.borderColor = ''
                                }">
                    <option value="" disabled selected hidden></option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
                <label class="absolute left-2 bottom-2 text-slate-400 transition duration-200 ease-in capitalize">Gender</label>
            </div>

            <div class="relative mt-8">
                <select class="p-2 w-[100%] border-b-2 border-gray-800 focus:outline-none transition duration-200 ease-in"
                        required
                        [(ngModel)]="Pet.type"
                        onfocus="this.nextElementSibling.style.transform = 'translateY(-35px)'; 
                                this.nextElementSibling.style.fontSize = '20px'; 
                                this.nextElementSibling.style.color = '#fb923c';
                                this.style.borderColor = '#fb923c';"
                        onblur="if(this.value==='') 
                                { 
                                    this.nextElementSibling.style.transform = ''; 
                                    this.nextElementSibling.style.fontSize = ''; 
                                    this.nextElementSibling.style.color = ''; 
                                    this.style.borderColor = ''
                                }">
                    <option value="" disabled selected hidden></option>
                    <option value="Cat">Cat</option>
                    <option value="Dog">Dog</option>
                </select>
                <label class="absolute left-2 bottom-2 text-slate-400 transition duration-200 ease-in capitalize">Type</label>
            </div>

            <div class="relative mt-8">
                <select class="p-2 w-[100%] border-b-2 border-gray-800 focus:outline-none transition duration-200 ease-in"
                        required
                        [(ngModel)]="breedPet.breedID"
                        onfocus="this.nextElementSibling.style.transform = 'translateY(-35px)'; 
                                this.nextElementSibling.style.fontSize = '20px'; 
                                this.nextElementSibling.style.color = '#fb923c';
                                this.style.borderColor = '#fb923c';"
                        onblur="if(this.value==='') 
                                { 
                                    this.nextElementSibling.style.transform = ''; 
                                    this.nextElementSibling.style.fontSize = ''; 
                                    this.nextElementSibling.style.color = ''; 
                                    this.style.borderColor = ''
                                }">
                    <option value="" disabled selected hidden></option>
                    <option *ngFor="let breed of breedsList" [value]="breed.breedID">{{ breed.breed1 }}</option>
                </select>
                <label class="absolute left-2 bottom-2 text-slate-400 transition duration-200 ease-in capitalize">Breed</label>
            </div>

            <div class="relative mt-8">
                <select class="p-2 w-[100%] border-b-2 border-gray-800 focus:outline-none transition duration-200 ease-in"
                        required
                        [(ngModel)]="Pet.readyForBreeding"
                        onfocus="this.nextElementSibling.style.transform = 'translateY(-35px)'; 
                                this.nextElementSibling.style.fontSize = '20px'; 
                                this.nextElementSibling.style.color = '#fb923c';
                                this.style.borderColor = '#fb923c';"
                        onblur="if(this.value==='') 
                                { 
                                    this.nextElementSibling.style.transform = ''; 
                                    this.nextElementSibling.style.fontSize = ''; 
                                    this.nextElementSibling.style.color = ''; 
                                    this.style.borderColor = ''
                                }">
                    <option value="" disabled selected hidden></option>
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                <label class="absolute left-2 bottom-2 text-slate-400 transition duration-200 ease-in capitalize">Ready For Breeding?</label>
            </div>

            <div class="relative mt-8">
                <app-input-section typeOfInput="text" LabelType="Other Information" (inputValueChange)="Pet.other=$event"></app-input-section>
            </div>  

            <label class="block text-orange-400 font-medium mb-2">
                Enter your pet's Photo
                <input type="file" class="mt-1 block w-full bg-slate-200 px-4 py-2 focus:outline-none focus:bg-white focus:shadow-outline" (change)="onFileSelected($event)">
            </label>

            <label class="block text-orange-400 font-medium mb-2">
                Enter your pet's Book ID
                <input type="file" class="mt-1 block w-full bg-slate-200 px-4 py-2 focus:outline-none focus:bg-white focus:shadow-outline" (change)="onFileSelectedBookImage($event)">
            </label>
        </section>

        <button class="text-white bg-orange-400 w-[100%] py-2 rounded-md hover:bg-orange-500 hover:text-gray-200 transition duration-200 ease-in hover:-translate-x-1 hover:scale-105" (click)="SignUp()">Sign-Up</button>

    </div>
</div>